# Question 1

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
# H0 = There is no difference between TAT
# H1 = There is a difference between TAT
# As our p_value value is less than alpha So we reject the null hypothesis
# So there is a difference between diameter of cutlets between two units

In [2]:
cutlet=pd.read_csv("Cutlets.csv")

In [3]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:

unitA=pd.Series(cutlet.iloc[:,0])

In [5]:
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [6]:
unitB=pd.Series(cutlet.iloc[:,1])
unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [7]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [8]:
p_value[1]

0.4722394724599501

In [27]:
p_value[0]

0.7228688704678063

In [30]:
stats.ttest_rel(cutlet["Unit A"], cutlet["Unit B"])

TtestResult(statistic=0.7536787225614316, pvalue=0.4562300768038412, df=34)

In [31]:
stats.ttest_ind(cutlet["Unit A"], cutlet["Unit B"])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [32]:
stats.shapiro(cutlet["Unit A"])

ShapiroResult(statistic=0.9649459719657898, pvalue=0.31998491287231445)

In [33]:
stats.shapiro(cutlet["Unit B"])

ShapiroResult(statistic=0.9727305769920349, pvalue=0.5225146412849426)

# Question 2

In [10]:
from scipy.stats import f_oneway

In [11]:
lab=pd.read_csv("LabTAT.csv")

In [12]:
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [34]:
f_oneway(lab["Laboratory 1"],lab["Laboratory 2"],lab["Laboratory 3"],lab["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [36]:
import scipy.stats as stats
stats.f_oneway(lab.iloc[:,0], lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# Question 3

In [14]:
from scipy.stats import chi2_contingency

In [15]:
buyer=pd.read_csv("BuyerRatio.csv")

In [16]:
buyer.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [17]:
table = [[50,142,131,70],
        [435,1523,1356,750]]
print(table)

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [37]:
# Chi2 contengency independence test
chi2_contingency(table) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [19]:
# Chi-square value = 1.5959
# p_value = 0.6603
# degree of freedom = 3
# Expected values
# alpha value = 0.05

# Question 4

In [20]:
customer =pd.read_csv("CustomerOrderForm.csv")

In [21]:
customer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [22]:
# H0 = There is no defects in Order Forms
# H1 = There is a defects in Order Forms
#check error and defective count

In [23]:
customer.Phillippines.value_counts(), '\n' ,customer.Indonesia.value_counts(), '\n' ,customer.Malta.value_counts(), '\n' ,customer.India.value_counts()

(Error Free    271
 Defective      29
 Name: Phillippines, dtype: int64,
 '\n',
 Error Free    267
 Defective      33
 Name: Indonesia, dtype: int64,
 '\n',
 Error Free    269
 Defective      31
 Name: Malta, dtype: int64,
 '\n',
 Error Free    280
 Defective      20
 Name: India, dtype: int64)

In [40]:
customer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [41]:
customer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [42]:
customer.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [43]:
customer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [24]:
data = np.array([[271,267,269,280],[29,33,31,20]])
data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [25]:
chi2_contingency(data)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [26]:
# Chi-square value = 3.8589
# p_value = 0.2771
# degree of freedom = 3
# Expected values
# alpha value = 0.05
# As the p_value is less than alpha value we rejecting the null hypothesis
# So we can tell there is defects in the Customer Order Forms